<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesignPaterns.Properties.Settings.StringConexao" connectionString="Data Source=ALUMI\SQLEXPRESS;Initial Catalog=GRANSOFT_UCHOA;Persist Security Info=True;User ID=SA;Password=355655"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>